.story-card {
    max-width: 600px;
    margin: 0 auto 15px;

    // display: none;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  .image-resize{
    height: 600px;
    width: 600px;
    object-fit: cover;
    object-position: center center;
  }
  
  .header {
    position: relative;
  
    .follow-button {
      position: absolute;
      right: 0;
    }
  }

  .footer{
    padding-left: 10px;
  }

