<mat-card class="story-card">
  <mat-card-header class="header">
    <app-follow-button [uid]="data.user.uid" class="follow-button"></app-follow-button>
    <img mat-card-avatar class="story-card-header-image" [src]="data.user.photoURL" />
    <mat-card-title>{{data.user.displayName}}</mat-card-title>
    <mat-card-subtitle>{{data.user.email}}</mat-card-subtitle>
  </mat-card-header>
  <img class="img-responsive image-resize" mat-card-image [src]="imageUrl | async" alt="Image with caption: '{{ data.caption }}'">
  <mat-card-footer class="footer">
    <p>
       This story's duration should be {{data.duration}}s 
       and should disapear in {{data.expiryTime}}h
    </p>
  </mat-card-footer>
</mat-card>
