<nav class="nav-bar">
  <div class="nav-content">
    <a routerLink="/" class="title">{{title}}</a>
    <app-new-post class="post"></app-new-post>
    <app-story-container></app-story-container>
    <app-notifications></app-notifications>
    <app-login-button class="login"></app-login-button>
  </div>
</nav>
 <!-- Gotta figure what color we want it to be -->
 
 
 
 <mat-toolbar class="tool-bar" color="primary" style="height: fit-content;">
   <!-- <div > -->
     <div class="scrolling-wrapper">
      <app-story></app-story>
     </div>
    
  <!-- This fills the remaining space of the current row
  <span class="example-fill-remaining-space"></span>
  
  <span>Right Aligned Text</span> -->
  <!-- </div> -->
  </mat-toolbar>



<!-- Needs Router-outlet for Router to change page-->
<router-outlet></router-outlet>
