<!--
In the component HTML, we define two templates based on the user$ Observable. If the value is null, we show the guest
template, but if it is defined we show the authenticated template and corresponding user data. The async will
automatically subscribe to the Observable and unsubscribe when the component is destroyed.
-->

<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button mat-raised-button (click)="auth.googleSignIn()">
    <i class="fab fa-google"></i> Connect Google
  </button>

</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img alt="User Display Picture" [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <p>Favorite Color: {{ user?.myCustomData }} </p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
